.Border-Pane{
-fx-border-radius: 20 20 20 20;
-fx-background-radius: 20 20 20 20;
-fx-background-color: #13153c;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.Label{
-fx-text-fill: white;
-fx-font-style: oblique;
-fx-font-size: 20px;
}

.Progress-Indicator{
-fx-progress-color: #13153c;
}
.Progress-Indicator: percentage{
-fx-text-fill: white;
}