.pane{
-fx-background-color: #00012d;
}

.image-pane{
-fx-border-radius: 40 40 40 40;
-fx-background-radius: 40 40 40 40;
-fx-border-color: white;
}

.Label{
-fx-text-fill: white;
-fx-font-size: 20px;
}

.Button-insideVBox{
-fx-border-radius: 20 20 20 20;
-fx-background-radius: 20 20 20 20;
-fx-background-color: transparent;
-fx-border-color: white;
-fx-text-fill: white;
}
.Button-insideVBox:hover{
-fx-background-color: white;
-fx-text-fill: black;
}

.Back-Button{
-fx-background-color:#0063b1;
-fx-background-image: url('/VisualStyles/DarkTheme/ButtonsIcons/back_button.jpg');
-fx-background-size: 140px 50px;
-fx-background-position: center;
}
.Back-Button: hover{
-fx-background-image: url('/VisualStyles/DarkTheme/ButtonsIcons/back_button_hover.jpg');
}
.Google-Button{
-fx-background-color:#0063b1;
-fx-background-image: url('/VisualStyles/DarkTheme/ButtonsIcons/google_map_button.jpg');
-fx-background-size: 140px 50px;
-fx-background-position: center;
}
.Google-Button: hover{
-fx-background-image: url('/VisualStyles/DarkTheme/ButtonsIcons/google_map_button_hover.jpg');
}

.Toggle-Button-diagram{
-fx-background-image: url('/VisualStyles/DarkTheme/ButtonsIcons/diagram_icon.jpg');
-fx-background-repeat: no-repeat;
-fx-background-size: 140px 50px;
-fx-background-position: center;
-fx-background-color: #0063b1;
}
.Toggle-Button-diagram:selected{
-fx-background-image: url('/VisualStyles/DarkTheme/ButtonsIcons/diagram_icon_selected.jpg');
}

.Toggle-Button-info{
-fx-background-image: url('/VisualStyles/DarkTheme/ButtonsIcons/info_icon.jpg');
-fx-background-repeat: no-repeat;
-fx-background-size: 140px 50px;
-fx-background-position: center;
-fx-background-color: #0063b1;
}
.Toggle-Button-info:selected{
-fx-background-image: url('/VisualStyles/DarkTheme/ButtonsIcons/info_icon_selected.jpg');
}

.Toggle-Button-DB-info{
-fx-background-image: url('/VisualStyles/DarkTheme/ButtonsIcons/DBInfo_icon.jpg');
-fx-background-repeat: no-repeat;
-fx-background-size: 140px 50px;
-fx-background-position: center;
-fx-background-color: #0063b1;
}
.Toggle-Button-DB-info:selected{
-fx-background-image: url('/VisualStyles/DarkTheme/ButtonsIcons/DBInfo_icon_selected.jpg');
}

.Left-block-VBox{
-fx-border-radius: 20 20 20 20;
-fx-background-radius: 20 20 20 20;
-fx-background-color: #13153c;
-fx-text-fill:white;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.VBox-block{
-fx-border-radius: 20 20 20 20;
-fx-background-radius: 20 20 20 20;
-fx-background-color: #13153c;
-fx-border-color: #13153c;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.left-VBox{
-fx-background-color: #13153c;
}

.text{
-fx-text-fill: white;
}