.pane{
-fx-background-color: #dc143c;
}

.label{
-fx-text-fill: white;
-fx-font-style: oblique;
-fx-font-size: 40px;
}

.Button{
-fx-border-radius: 20px;
-fx-background-radius: 20px;
-fx-border-color: white;
-fx-background-color: #dc143c;
-fx-text-fill: white;
-fx-font-size: 25px;
}

.Button: hover{
-fx-background-color: #a52a2a;

}