.pane{
-fx-background-color: #e84118;
}

.label{
-fx-text-fill: #f5f6fa;
-fx-font-size: 40px;
}

.Button{
-fx-border-radius: 20px;
-fx-background-radius: 20px;
-fx-border-color: #f5f6fa;
-fx-background-color: #e84118;
-fx-text-fill: #f5f6fa;
-fx-font-size: 25px;
}

.Button: hover{
-fx-background-color: #e1b12c;
}