.pane{
-fx-background-color: #13153c;

}

.label{
-fx-text-fill: white;
-fx-font-style: oblique;
-fx-font-size: 40px;
}

.HBox{
-fx-border-radius: 20 20 20 20;
-fx-background-radius: 20 20 20 20;
-fx-border-color: white;
}
.text-input{
-fx-background-color: rgba(0,0,0,0);
-fx-border-width: 0 0 1 0;
-fx-text-fill: white;
-fx-border-color: #00012d;
}

.Button{
-fx-border-radius: 20 20 20 20;
-fx-background-radius: 20 20 20 20;
-fx-background-color: #00012d;
-fx-border-color: white;
-fx-text-fill: white;
}

.Button:hover{
-fx-background-color: #13153c;
}
