.pane{
-fx-background-color: #ffffff;
}

.label{
-fx-text-fill: #6ab3dd;
-fx-font-style: oblique;
-fx-font-size: 40px;
}

.Text-Area{
    -fx-background-color: #ffac84;
}

.Button{
-fx-border-radius: 20 0 20 0;
-fx-background-radius: 20 0 20 0;
-fx-background-color:#6ab3dd;
-fx-border-color: #6ab3dd;
-fx-text-fill: white;
}

.Button:hover{
-fx-background-color: #ffffff;
-fx-text-fill: black;
-fx-border-radius: 0 20 0 20;
-fx-background-radius: 0 20 0 20;
}
