.pane{
-fx-background-color: linear-gradient(to left,#4369b2, #355ba4 );
}

.label{
-fx-text-fill: white;
-fx-font-style: oblique;
-fx-font-size: 40px;
}

.Text-Area{
    -fx-background-color: #87ceeb;
}

.Button{
-fx-border-radius: 20px;
-fx-background-radius: 20px;
-fx-background-color:Transparent;
-fx-border-color: white;
-fx-text-fill: white;
}

.Button:hover{
-fx-background-color: #4169e1;
-fx-text-fill: white;
}
