.pane{
-fx-background-color: #ffffff;
}

.label{
-fx-text-fill: black;
-fx-font-style: oblique;
-fx-font-size: 20px;
}
.Label-standard{
-fx-text-fill: white;
-fx-font-style: oblique;
-fx-font-size: 20px;
}
.Label-small{
-fx-text-fill: white;
-fx-font-style: oblique;
-fx-font-size: 15px;
}

.Button{
-fx-border-radius: 20px;
-fx-background-radius: 20px;
-fx-background-color:Transparent;
-fx-border-color: white;
-fx-text-fill: white;
}
.Button:hover{
-fx-background-color: #4169e1;
-fx-text-fill: white;
}

.Button-insideVBox{
-fx-border-radius: 20 0 20 0;
-fx-background-radius: 20 0 20 0;
-fx-background-color: transparent;
-fx-border-color: white;
-fx-text-fill: white;
}
.Button-insideVBox:hover{
-fx-background-color: white;
-fx-text-fill: black;
}

.Central-VBox{
-fx-border-radius: 20px;
-fx-background-radius: 20px;
-fx-background-color: #ffac84;
-fx-text-fill:white;
}
.First-small-VBox{
-fx-border-radius: 20 0 20 0;
-fx-background-radius: 20 0 20 0;
-fx-background-color: #49c39c;
}
.Second-small-VBox{
-fx-border-radius: 20 0 20 0;
-fx-background-radius: 20 0 20 0;
-fx-background-color: #6ab3dd;
}
.Third-small-VBox{
-fx-border-radius: 20 0 20 0;
-fx-background-radius: 20 0 20 0;
-fx-background-color: #ffac84;
}
.Fourth-small-VBox{
-fx-border-radius: 20 0 20 0;
-fx-background-radius: 20 0 20 0;
-fx-background-color: #ed8376;
}
.Fifth-small-VBox{
-fx-border-radius: 20 0 20 0;
-fx-background-radius: 20 0 20 0;
-fx-background-color: #f0c658;
}

.text{
-fx-text-fill:black;
}